* {
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
}

body {
  background-image: radial-gradient(#00322A, #025548, #053E37);
}
.App {
  text-align: center;
}
.no-spells-error {
  font-size: 25px;
  color: #D6CCA9;
}

.load-error {
  font-size: 25px;
  color: #D6CCA9;
  text-align: center;
}
