.title {
  font-size: 50px;
  color: #C70039;
  margin-left: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.dropdown {
  background-color: #F4F4F3;
  font-size: 20px;
}

.icon {
  height: 100px;
  width: 100px;
}

.spell-search {
  font-size: 20px;
  width: 190px;
  height: 25px;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
  }
}
